:root {
    
}

::-moz-selection{
    background:#7021d2;
    color:#fff;
}

::selection {
    background:#7021d2;
    color:#fff;
}

.nav {

}

.mobile-menu {
    width: 20px;
    height: 20px;
}

.mobile-close {
    width: 20px;
    height: 20px;
}

