body {
  margin: 0px;
  padding: 0px;
}

.nav {
  font-family: monospace;
  background: white;
}

::-moz-selection {
  background: #7021d2;
  color: #fff;
}

::selection {
  background: #7021d2;
  color: #fff;
}

.mobile-menu {
  width: 20px;
  height: 20px;
}

.mobile-close {
  width: 20px;
  height: 20px;
}